@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@500&family=Poppins:wght@300&family=Roboto+Condensed:wght@300&display=swap');

body {
    font-family: Oswald, sans-serif;
    background-color: #F9FAFC;
    padding-top: 56px;
    margin: 0;
    border: none; 
}

.masthead {
    height: 34vh;
    min-height: 240px;
    background: url("/static/images/Masthead.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.masthead-text {
    color: black;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-family: Oswald, sans-serif;
}

h2 {
    text-align: inherit;
}

.h3-review {
    margin-top: 2.5%;
    margin-left: 1%;
}

.posted-h2 {
    text-align: center;
}

.dark-bg {
    background-color: #5590cf;
}

.main-bg {
    background-color: #eed2b7;
}

.container-fluid-home {
    width: 72%;
    padding: 1%;
    margin: 1% auto 1% auto;
    background-color: rgba(138, 181, 241, 0.595);
    border-radius: 25px;
}

.welcome {
    padding: 2%;
    text-align: center;
    margin: 0;
    color: white;
    background-color: #2b527f;
    border-radius: 25px;
    border: 2px solid black;
}

.welcome-text {
    position: relative;
    left:0;
    top: 0;
    color: white;
}

.icons {
    word-spacing: 5px;
    font-size: 22px;
}

i {
    font-size: 22px;
}

.card {
    border: none;
    background-color: transparent;
    padding-bottom: 50px;
}

.card-text {
    font-size: 17px;
    color: black;
    font-family: Oswald, sans-serif;
}

.card-body {
    padding: 5px;
    border-radius: 25px;
}

.card-body-comments {
    margin-bottom: 0.5%;
}

.review-content {
    margin: 1%;
}

.col-2 {
    margin: 1.5%;
    clear: both;
}

.hr-row {
    margin: 1%;
    clear: both;
}

.create-form {
    text-align: center;
}

.form-inner {
    margin-left: 17%;
    margin-right: 17%;
    font-family: Oswald, sans-serif;
}

.subtitle-text {
    font-size: 22px;
    color: #143357;
}

.create-text {
    font-size: 22px;
    font-family: Oswald, sans-serif;
}

.format-text {
    font-size: 22px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 1.5%;
    color: #143357;
    background: linear-gradient(rgba(220, 225, 230, 0.774), transparent),
                linear-gradient(to top left, rgb(230, 195, 155), transparent),
                linear-gradient(to top right, rgb(133, 70, 60), transparent);
    background-blend-mode: screen;
    padding: 4px;
    border-radius: 25px;
}

.vote-text {
    font-size: 22px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    color: #143357;
    background: linear-gradient(rgba(220, 225, 230, 0.774), transparent),
                linear-gradient(to top left, rgb(230, 195, 155), transparent),
                linear-gradient(to top right, rgb(133, 70, 60), transparent);
    background-blend-mode: screen;
    padding: 4px;
    border-radius: 25px;
}

.console-text {
    font-size: 22px;
    color: #143357;
    background: linear-gradient(rgba(220, 225, 230, 0.774), transparent),
                linear-gradient(to top left, rgb(230, 195, 155), transparent),
                linear-gradient(to top right, rgb(133, 70, 60), transparent);
    background-blend-mode: screen;
    padding: 4px;
    border-radius: 25px;
}

.create-title {
    margin: 1%;
    text-align: center;
}

.card-title {
    color: #143357;
}

.card-title-black {
    background: linear-gradient(rgba(220, 225, 230, 0.774), transparent),
                linear-gradient(to top left, rgb(230, 195, 155), transparent),
                linear-gradient(to top right, rgb(133, 70, 60), transparent);
    background-blend-mode: screen;
    color: black;
    padding: 4px;
    border-radius: 25px;
}

.card-title-black:hover,
.card-title-black:active {
    background-color:rgb(37, 0, 54);
    color: #fff;
    border: solid black 2px;
}

.review-text {
    font-weight: 200;
    font-family: Oswald, sans-serif;
}

.image-container {
    position: relative;
    margin: auto 20%;
    padding-top: 10px;
}

.image-flash {
    position: relative;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #6d5a93;
}

.gamer {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    text-align: center;
}

.review-link {
    text-decoration: none;
}

.review-link:hover,
.review-link {
    color: #3d82b6;
}

.review-title {
    padding-top: 2%;
    text-align: inherit;
}

.btn-signup {
    background-color: #047575;
    color: #fff;
}

.home-row {
    margin-top: 1%;
}

.btn-home {
    background-color: #047575;
    color: #fff;
    position: relative;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 2.5%;
}

.btn-form {
    text-align: center;
}

.btn-form-2 {
    color: #fff;
    background-color: #047575;
    border-radius: 25px;
    width: 10%;
    height: 10%;
    padding: 1%;
    margin-top: 0.85%;
}

.btn-cancel {
    color: #fff;
    position: relative;
    width: 50%;
    margin-left: 25%;
}

.btn-editdelete {
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
}

.btn-signup:hover,
.btn-signup:active,
.btn-home:hover,
.btn-home:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.footer-text {
    color: white;
    font-size: 25px;
    word-spacing: 8px;
    text-align: center;
}

.footer-icons {
    color: rgb(103, 22, 22);
    font-size: 25px;
    word-spacing: 8px;
    text-align: center;
}

.footer-text > a[href*="facebook"] {
    color: rgb(103, 22, 22);
}

.footer-text > a[href*="twitter"] {
    color: rgb(103, 22, 22);
}

.footer-text > a[href*="youtube"] {
    color: rgb(103, 22, 22);
}

.footer-text > a[href*="instagram"] {
    color: rgb(103, 22, 22);
}

@media screen and (max-width: 992px) {

    .btn-form-2 {
        color: #fff;
        background-color: #047575;
        border-radius: 25px;
        width: 30%;
        height: 30%;
        padding: 1%;
        margin-top: 0.85%;
        }
    }

@media screen and (max-width: 576px) {

.btn-form-2 {
    color: #fff;
    background-color: #047575;
    border-radius: 25px;
    width: 30%;
    height: 30%;
    padding: 1%;
    margin-top: 0.85%;
    }
}

@media screen and (max-width: 320px) {

    .btn-form-2 {
    color: #fff;
    background-color: #047575;
    border-radius: 25px;
    width: 35%;
    height: 35%;
    padding: 1%;
    margin-top: 0.85%;
    }
}
