@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@500&family=Poppins:wght@300&family=Roboto+Condensed:wght@300&display=swap');

/* https://stackoverflow.com/questions/14735274/bootstrap-css-hides-portion-of-container-below-navbar-navbar-fixed-top */
body {
    font-family: Oswald, sans-serif;
    background-color: #F9FAFC;
    padding-top: 56px;
    margin: 0;
    border: none; 
}

h2 {
    text-align: inherit;
}

.h3-review {
    margin-top: 2.5%;
    margin-left: 1%;
}

.posted-h2 {
    text-align: center;
}

.dark-bg {
    background-color: #5590cf;
}

.main-bg {
    /* background-color: rgba(138, 181, 241, 0.595); */
    background-color: #eed2b7;
}

/* https://www.destructoid.com/reviews/review-stray-adventure-puzzle-game-ps5-version/ */
.container-fluid-home {
    width: 72%;
    padding: 1%;
    margin: 1% auto 1% auto;
    background-color: rgba(138, 181, 241, 0.595);
    border-radius: 25px;
}

.welcome {
    padding: 2%;
    text-align: center;
    margin: 0;
    color: white;
    background-color: #2b527f;
    border-radius: 25px;
    border: 2px solid black;
}

.welcome-p {
    position: relative;
    left:0;
    top: 0;
    color: white;
}

.icons {
    word-spacing: 5px;
    font-size: 22px;
}

.card {
    border: none;
    background-color: transparent;
    padding-bottom: 50px;
}

.card-body {
    padding: 5px;
    border-radius: 25px;
}

.card-body-comments {
    margin-bottom: 0.5%;
}

.create-form {
    text-align: center;
}

.review-content {
    margin: 1%;
}

.col-2 {
    margin: 1.5%;
    clear: both;
}

.hr-row {
    margin: 1%;
    clear: both;
}

.form-inner {
    margin-left: 17%;
    margin-right: 17%;
}

.subtitle-text {
    font-size: 22px;
}

.create-text {
    font-size: 22px;
}

.create-title {
    margin: 1%;
    text-align: center;
}

.card-title-black {
    background: linear-gradient(rgba(220, 225, 230, 0.527), transparent),
                linear-gradient(to top left, rgb(230, 195, 125), transparent),
                linear-gradient(to top right, rgb(133, 70, 11), transparent);
    background-blend-mode: screen;
    color: black;
    padding: 4px;
    border-radius: 25px;
}

.card-title-black:hover,
.card-title-black:active {
    background-color:rgb(211, 38, 38);
    color: #fff;
    border: solid black 2px;
}

.review-text {
    font-weight: 800;
}

.image-container {
    position: relative;
    margin: auto 20%;
    padding-top: 10px;
}

.image-flash {
    position: relative;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #6d5a93;
}

.gamer {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    text-align: center;
}

/* https://startbootstrap.com/snippets/full-image-header */
/* https://unsplash.com/photos/npxXWgQ33ZQ */
.masthead {
    height: 32vh;
    min-height: 225px;
    background-image: url('https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.masthead-text {
    color: black;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-family: Oswald, sans-serif;
}

.review-link {
    text-decoration: none;
}

.review-link:hover,
.review-link {
    color: #3d82b6;
}

.review-title {
    padding-top: 2%;
    text-align: inherit;
}

.btn-signup {
    background-color: #047575;
    color: #fff;
}

.home-row {
    margin-top: 1%;
}

.btn-home {
    background-color: #047575;
    color: #fff;
    position: relative;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 2.5%;
}

.btn-cancel {
    color: #fff;
    position: relative;
    width: 50%;
    margin-left: 25%;
}

.btn-editdelete {
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
}

.btn-signup:hover,
.btn-signup:active,
.btn-home:hover,
.btn-home:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.footer-text {
    color: white;
    font-size: 25px;
    word-spacing: 8px;
    text-align: center;
}

.footer-icons {
    color: rgb(103, 22, 22);
    font-size: 25px;
    word-spacing: 8px;
    text-align: center;
}

/* https://stackoverflow.com/questions/57625331/changing-social-media-icon-color */
.footer-text > a[href*="facebook"] {
    color: rgb(103, 22, 22);
}

.footer-text > a[href*="twitter"] {
    color: rgb(103, 22, 22);
}

.footer-text > a[href*="youtube"] {
    color: rgb(103, 22, 22);
}

.footer-text > a[href*="instagram"] {
    color: rgb(103, 22, 22);
}


@media screen and (max-width: 1200px) {
    
    .panel-heading {
        max-width: 100px;
    }

    .note-dropzone {
        max-width: 100px;
    }

    .note-editor {
        max-width: 100px;
    }

    .note-toolbar {
        max-width: 100px;
    }
}