{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

{{ form.media }}

<!-- https://startbootstrap.com/snippets/full-image-header -->
<div class="masthead">
    <div class="container h-100">
    </div>
</div>

<div>
    <h1 class="create-title">Please use the form below to create your own Review:</h1>
</div>

<div class="container-fluid-home">
    <div class="create-form">
        <div class="card-body">
            <div class="create-text">

                {% if user.is_authenticated %}

                <h3>Post your review using the form below:</h3>
                <hr>
                <p>Posting as Gamer: {{ user.gamer }}</p>
                <form class="form-inner" method="post">
                    {{ form | crispy }}
                    {% csrf_token %}
                    <hr>
                    <button type="submit" class="btn btn-signup btn-lg" aria-label="submit">Submit Review</button>
                </form>
            </div> 
                
                {% endif %}
        </div>
    </div>
</div>

{% endblock content %}