{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<!-- https://startbootstrap.com/snippets/full-image-header -->
<div class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-md-6 offset-md-3 masthead-text">
                <!-- Post title goes in these h1 tags -->
            </div>
            <div class="d-none d-md-block col-md-6 offset-md-3 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in review.featured_image.url %}
                <!-- <img class="review-image" src="static/images/PP4-Gamer-Review-Detail.jpg" alt="game controllers" width="100%"> -->
                {% else %}
                <img src=" {{ review.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div>
    <h1 class="create-title">Please use the form below to create your own Review:</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <div class="create-text">

                    {% if user.is_authenticated %}

                    <h3>Post a review:</h3>
                    <hr>
                    <p>Posting as Gamer: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ form | crispy }}
                        {% csrf_token %}
                        <hr>
                        <button type="submit" class="btn btn-signup btn-lg">Submit Review</button>
                    </form>
                </div> 
                   
                    {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock content %}