{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

{{ form.media }}

<!-- https://startbootstrap.com/snippets/full-image-header -->
<!-- Masthead with review image -->
<div class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-md-6 offset-md-3 masthead-text">

                <!-- Review title, game and subtitle display -->
                <h1 class="review-title">{{ review.title }}</h1>
                <hr>
                <h2>{{ review.game }}</h2>
                <h2>{{ review.subtitle }}</h2>

                <!-- Post author and created date of review -->
                <p class="review-subtitle">{{ review.gamer }} | {{ review.created_on }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid-home">

    {% if user.is_authenticated %}

    <!-- Review confirm delete option -->
    <div class="form-style text-center p-3 m-3">
        <h1 class="text-center">Confirm Review Deletion</h1>
        <form method="post">
            {% csrf_token %}
            <hr>
            <h5>Are you sure you want to delete this review?</h5> 
            <hr>
            <input type="submit" value="Confirm Delete" class="btn btn-signup btn-lg" aria-label="confirm">
        </form>
    </div>

    <!-- Nav button to get back to Your Reviews page -->
    <div>
        <form class="btn-form" action="{% url 'posted_review' %}" method="get">
            <button class="btn-form-2">Back to your Reviews</button>
        </form>
    </div>

    {% endif %}

</div>

{% endblock %}