{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

{{ form.media }}

<!-- https://startbootstrap.com/snippets/full-image-header -->
<div class="masthead">
    <div class="container h-100">
    </div>
</div>

<!-- Review confirm delete form -->
<div class="form-style text-center p-3 m-3">
    <h1 class="text-center">Confirm Review Deletion</h1>
    <form method="post">
        {% csrf_token %}
        <h5>Are you sure you want to delete this review?</h5> 
        <hr>  
        <h4>{{ review.title }} </h4>
        <h4>{{ review.game }} </h4>
        <hr>
        <input type="submit" value="Confirm" class="btn btn-signup btn-lg" aria-label="confirm">
    </form>
</div>

<div class="btn-cancel">
    <a href="/posted_review/"><button class= "btn-home btn-lg" type="submit" action="{% url 'posted_review' %}">Cancel</button></a>
</div>

{% endblock %}