{% extends "base.html" %} {% block content %}
{% load crispy_forms_tags %}

{{ form.media }}

<!-- https://startbootstrap.com/snippets/full-image-header -->
<!-- Masthead with review image -->
<div class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-md-6 offset-md-3 masthead-text">

                <!-- Review title, game and subtitle display -->
                <h1 class="review-title">{{ review.title }}</h1>
                <hr>
                <h2>{{ review.game }}</h2>
                <h2>{{ review.subtitle }}</h2>

                <!-- Post author and created date of review -->
                <p class="review-subtitle">{{ review.gamer }} | {{ review.created_on }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid-home">

    {% if user.is_authenticated %}

    <h2 class="posted-h2">Please edit your review using the form below:</h2>
    <hr>

    <!-- Button to get back to Your Reviews page -->
    <div>
        <form class="btn-form" action="{% url 'posted_review' %}" method="get">
            <button class="btn-form-2">Back to your Reviews</button>
        </form>
    </div>
    <hr>
    
    <div class="create-form">
        <div class="card-body">
            <div class="create-text">

                {% if user.is_authenticated %}

                <p>Reposting as Gamer: {{ user.username }}</p>
                <hr>

                <div class="format-text">In order to create paragraphs, please type the letters <strong>br </strong> 
                    within <strong>angle brackets</strong>
                </div>

                <!-- Form to edit review -->
                <form class="form-inner" method="post">
                    {{ form | crispy }}
                    {% csrf_token %}
                    <hr>
                    <button type="submit" class="btn btn-signup btn-lg" aria-label="submit">Submit Changes</button>
                </form>
            </div> 
                {% endif %}
        </div>
    </div>
        
    {% endif %}
    
</div>

{% endblock %}