{% extends "base.html" %} {% block content %}
{% load crispy_forms_tags %}

{{ form.media }}

<div class="masthead">
    <div class="container h-100">
    </div>
</div>

<div class="container-fluid-home">

    {% if user.is_authenticated %}

    <h2 class="posted-h2">Please edit your review using the form below:</h2>
    <hr>

    <form class="btn-form" action="/" method="get">
        <button class="btn-form-2">Back to Home</button>
    </form>
    <hr>
    
    <div class="create-form">
        <div class="card-body">
            <div class="create-text">

                {% if user.is_authenticated %}

                <p>Reposting as Gamer: {{ user.username }}</p>
                <h4>{{ review.title }}</h4>
                <h4>{{ review.game }}</h4>
                <hr>
                <form class="form-inner" method="post">
                    {{ form | crispy }}
                    {% csrf_token %}
                    <hr>
                    <button type="submit" action="{% url 'posted_review' %}" class="btn btn-signup btn-lg" aria-label="submit">Submit Changes</button>
                </form>
            </div> 
                {% endif %}
        </div>
    </div>
        
    {% endif %}

    {% if is_paginated %}

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}

            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
            
        </ul>
    </nav>

    {% endif %}
</div>

{% endblock %}