{% extends "base.html" %}

{% block content %}

<!-- Masthead with review iamge -->
<div class="masthead">
    <div class="container h-100">
    </div>
</div>

<div class="container-fluid-home">
    <div class="welcome">
        <h3>WELCOME TO GAMER REVIEWS</h3>
        <div class="welcome-text">
            Welcome to Gamer Reviews. This is a site where games are reviewed by Gamers themselves.
            Any game on any console can be reviewed. The aim of this site is to create a community 
            of gamers who like to review and give their perspective on the games they are playing
            at the moment. Friendly commenting and voting for likes, funny and Insightful posts
            are also encouraged.
            <br>
            <br>
            PLEASE NOTE: All reviews and comments must be approved by our Admin before they can be viewed on the site.
            <br>
            <br>
            We look forward to receiving your reviews!
        </div>
    </div>

    <div class="pagination-top">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
    
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
    
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
                
            </ul>
        </nav>
    </div>

    <!-- Review Entries Column -->
    <div class="col-12 mt-0 left">
        <div class="row">

            {% for review in review_list %}

            <div class="col-md-6 offset-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="image-container">
                            <img class="card-img-top" src="static/images/PP4-Gamer.jpg" alt="game controllers">
                            <div class="image-flash">
                                <p class="gamer">Gamer: {{ review.gamer }}</p>
                            </div>
                        </div>
                        
                        <h2 class="card-title">{{ review.title }}</h2>
                        <a href="{% url 'review_detail' review.pk review.title  %}" class="review-link">    
                        <h2 class="card-title-black">{{ review.game }}</h2>
                        </a>    
                        <span class="subtitle-text">{{ review.subtitle }}</span>
                        <br>
                        <hr>
                        <div class="console-text">Reviewed on the: {{ review.console }}</div>
                        <hr/>
                        <div class="card-text">{{ review.created_on}}
                            <div class="icons">
                            Like: <i class="fa fa-thumbs-up"></i>
                            {{ review.number_of_likes }}   
                            Funny: <i class="fa fa-smile-o"></i>
                            {{ review.number_of_funny }}   
                            Insightful: <i class="fa fa-lightbulb-o"></i>
                            {{ review.number_of_insightful }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:3 %}
            
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>

    {% if is_paginated %}

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}

            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
            
        </ul>
    </nav>

    {% endif %}

</div>

{% endblock %}