{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<!-- https://startbootstrap.com/snippets/full-image-header -->
<div class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-md-6 offset-md-3 masthead-text">
                <!-- Post title, game and subtitle goes in these h1 tags -->
                <h1 class="review-title">{{ review.title }}</h1>
                <hr>
                <h2>{{ review.game }}</h2>
                <h2>{{ review.subtitle }}</h2>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="review-subtitle">{{ review.gamer }} | {{ review.created_on }}</p>
            </div>
        </div>
    </div>
</div>

{% if request.user == review.gamer %}

<div class="btn-editdelete">
    <a href="{% url 'edit_review' review.pk %}"><button class= "btn-home btn-lg" type="submit" action="{% url 'edit_review' review.pk %}">Edit Review</button></a>
</div>
<div class="btn-editdelete">
    <a href="{% url 'delete_review' review.pk %}"><button class= "btn-home btn-lg" type="submit" action="{% url 'delete_review' review.pk %}">Delete Review</button></a>
</div> 
<div class="home-row">
    <a href="/posted_review/"><button class= "btn-home btn-lg" type="submit" action="{% url 'posted_review' %}">Back to Home</button></a>
</div>

{% else %}

<div class="home-row">
    <a href="/posted_review/"><button class= "btn-home btn-lg" type="submit" action="{% url 'posted_review' %}">Back to Home</button></a>
</div>

{% endif %}

<div class="container-fluid-home">
    <div class="card-row">
        <div class="review-content">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <div class="review-text">
                <p class="card-text">
                    {{ review.content | safe }}
                </p>
                </div>
                <div class="row">
                    <div class="col-2">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'review_like' review.pk %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{review.pk}}" class="btn-like">
                                    <i class="fas fa-thumbs-up"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{review.pk}}" class="btn-like">
                                    <i class="far fa-thumbs-up"></i></button>    
                                {% endif %}
                            </form>

                            {% else %}

                            <span class="text-secondary"><i class="far fa-thumbs-up"></i></span>

                            {% endif %}

                            <span class="text-secondary">{{ review.number_of_likes }}</span>
                        </strong>
                    </div>

                    <div class="col-2">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'review_funny' review.pk %}" method="POST">
                                {% csrf_token %}
                                {% if funny %}
                                <button type="submit" name="blogpost_id" value="{{review.pk}}" class="btn-like">
                                    <i class="fa fa-smile-o"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{review.pk}}" class="btn-like">
                                    <i class="fa fa-smile-o"></i></button>    
                                {% endif %}
                            </form>

                            {% else %}

                            <span class="text-secondary"><i class="fa fa-smile-o"></i></span>

                            {% endif %}

                            <span class="text-secondary">{{ review.number_of_funny }}</span>
                        </strong>
                        <!-- <strong class="text-secondary"><i class="fa fa-smile-o"></i> {{ review.number_of_funny }} </strong> -->
                    </div>

                    <div class="col-2">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'review_insightful' review.pk %}" method="POST">
                                {% csrf_token %}
                                {% if insightful %}
                                <button type="submit" name="blogpost_id" value="{{review.pk}}" class="btn-like">
                                    <i class="fa fa-lightbulb-o"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{review.pk}}" class="btn-like">
                                    <i class="fa fa-lightbulb-o"></i></button>    
                                {% endif %}
                            </form>

                            {% else %}

                            <span class="text-secondary"><i class="fa fa-lightbulb-o"></i></span>

                            {% endif %}

                            <span class="text-secondary">{{ review.number_of_insightful }}</span>
                        </strong>
                        <!-- <strong class="text-secondary"><i class="fa fa-lightbulb-o"></i> {{ review.number_of_insightful }} </strong> -->
                    </div>

                    <div class="col-2">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="comments-row"> 
        <h3 class="h3-review">Comments:</h3>
        <div class="card-body-comments">
            <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    <!-- The commenter's name goes here -->
                    {{ comment.name }}
                    <span class=" text-muted font-weight-normal">
                        <!-- The comment's created date goes here -->
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                <!-- The body of the comment goes before the | -->
                {{ comment.body | linebreaks }}
            </div>
            <!-- Our for loop ends here -->
            {% endfor %}
        </div>
        
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}

                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <hr>
                    <button type="submit" class="btn btn-signup btn-lg">Submit Comment</button>
                </form>
                
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}